<p>
  <b>Descricao:</b>
  <%=h @brinde.descricao %>
</p>

<p>
  <b>Participante:</b>
  <%=h @brinde.participante %>
</p>


<%= link_to 'Edit', edit_brinde_path(@brinde) %> |
<%= link_to 'Back', brindes_path %>